@import "tailwindcss";

:root {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer utilities {
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }

  .animate-shine {
    animation: shine 5s linear infinite;
  }
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-body);
}
